extends partials/layout.pug

block content
	.nav
	h3 Blank Space
	h1
	h1
	h1 Warranty
	label Select Your Vehicle Brand
	select#brand
		option Select Here
		option Nissan
		option Infiniti
	label Select Your Dealership
	select#dealer
		option

