<!DOCTYPE html>

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>Vehicle Warranty Claims</title>
  <meta name="description" content="">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="../css/main.css">
  <link rel="stylesheet" href="/lib/bootstrap/dist/css/bootstrap.min.css">
</head>

<body ng-app="Warranty">
  <nav class="navbar navbar-default navbar-fixed-top navwrapper" ng-controller="NavCtrl">
    <div class="container-fluid">
      <div class="row">
        <h3>Warranty Claims</h3>

      </div>
    </div><!-- fluid container -->
  </nav>
  <div class="container">
    <div ng-view>

    </div>
  </div>
  <script src="./public/lib/bootstrap/dist/js/bootstrap.min.js"></script>
  <script src="/lib/jquery/dist/jquery.min.js"></script>
</body>

</html>