<div class="row indent">
	<h2>Please confirm the claim info below
</div>
<div class="row indent" ng-model="claimObject">
	<div class="row">
		<h4> Dealer </h4>
	</div>
	<div class="row indent2">
		<p><span style="font-style: italic; color: #6d8fb7">{{claimObject.dealer}}</span></p>
	</div>
	<div class="row">
		<h4> Vehicle Model </h4>
	</div>
	<div class="row indent2">
		<p><span style="font-style: italic; color: #6d8fb7">{{claimObject.model}}</span></p>
	</div>
	<div class="row">
		<h4> Section Repaired </h4>
	</div>
	<div class="row indent2">
		<p><span style="font-style: italic; color: #6d8fb7">{{claimObject.section}}</span></p>
	</div>
	<div class="row">
		<h4> Parts Replaced </h4>
	</div>
	<div class="row indent2">
		<p><span style="font-style: italic; color: #6d8fb7">{{claimObject.parts}}</span></p>
	</div>
	<div class="row">
		<h4> Labor Opcode </h4>
	</div>
	<div class="row indent2">
		<p><span style="font-style: italic; color: #6d8fb7">{{claimObject.labor}} for {{claimObject.laborHours}} hours</span></p>
	</div>
</div>
<div class="spacer2">

</div>
<div class="row centered">
	<button type="submit" class="btn btn-success confirmed" ng-click="claimSubmit()">Confirmed</button>
	<button type="submit" class="btn btn-primary" ng-click="redoClaim()">Back to Claim Options</button>
	<button type="submit" class="btn btn-danger" ng-click="resetPage()">Back to Dealer Select</button>

</div>