<div class="row">
  <label>Select your vehicle brand</label>
</div>
<div class="row">
  <select ng-model="brand" ng-change="brandSelect(brand)">
    <option value="Nissan">Nissan</option>
    <option value="Infiniti">Infiniti</option>
  </select>
</div>
<div class="row">
  <label>Select your dealership</label>
</div>
<div class="row">
  <select ng-model="dealers" ng-options="item for item in dealerList" ng-change="dealerChoice(dealers)">
    <option value="{{item}}>{{item}}</option>

  </select>
</div>