
<div class="row">
	<h1 class="intro">Submission Form for Nissan and Infiniti Warranty Claims</h1>
</div>
<div class="spacer2">

</div>
<div class="row">
	<div class="col-md-2">

	</div>
	<div class="col-md-8">
		<p>Welcome to the web application for submitting a warranty claim on a Nissan or Infiniti vehicle. When a part fails on a
			vehicle that is under warranty, complete the repair and then submit a claim in order to be reimbursed by the company.</p>
		<p>You select your brand and dealership, then the vehicle model and what parts were replaced. The system will automatically
			calculate the cost of the part and the cost of the labor based on average hours spent on the repair and your dealership's
			labor rate.</p>
	</div>
</div>
<div class="spacer2">

</div>
<div class="row centered">
	<button type="submit" class="btn btn-success btn-lg start" ng-click="enterSite()">Start</button>
</div>